<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

	<configuration>
		<settings>
			<setting name="mapUnderscoreToCamelCase" value="true"/>
		</settings>
		<typeAliases>
			<typeAlias type="com.librarySystem.library.command.ManagerVO" alias="ManagerVO"/>
			<typeAlias type="com.librarySystem.library.command.BookVO" alias="BookVO"/>
			<typeAlias type="com.librarySystem.library.command.RentalVO" alias="RentalVO"/>
			<typeAlias type="com.librarySystem.library.command.UserRentalVO" alias="UserRentalVO"/>
		</typeAliases>
	</configuration>
